<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:importer="http://typo3.org/ns/Itx/Importer/ViewHelpers" data-namespace-typo3-fluid="true">

<f:switch expression="{import.status}">
    <f:case value="RUNNING">
        <span class="label label-info" title="">Running</span>
    </f:case>
    <f:case value="COMPLETED">
        <span class="label label-success" title="">Completed</span>
    </f:case>
    <f:case value="FAILED">
        <span class="label label-danger" title="">Failed</span>
    </f:case>
</f:switch>
